<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DesFormatoPedido.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="server" value="172.16.1.40" />
    <add key="database" value="ALTAI" />
    <add key="username" value="PyGk5SKng2StSQxMnjEj6A==" />
    <add key="password" value="/szmus8fba34YDPifj0Dfg==" />
    <add key="PassServ" value="FuLBPd3SGmpTjXiPO2UaNA=="/>
  </appSettings>  
  
  <applicationSettings>
    <DesFormatoPedido.Properties.Settings>
      <setting name="DesFormatoPedido_WebRef_Service" serializeAs="String">
        <value>http://187.188.145.165/Fives_WS/Service.asmx</value>
      </setting>
    </DesFormatoPedido.Properties.Settings>
  </applicationSettings>
</configuration>